#wrapper {
    width: 1200px;
    height: auto;
    margin: 0 auto 0 auto;
    background-color: #FFDAB9;
    overflow: hidden;
}

#wrapper #main-image {
    width: 1200px;
    height: 400px;
}

#wrapper div.itigen{
    width: 600px;
    border-bottom: 2px solid #4dac26;
    margin: 0 0 0 30px;
}
#wrapper div.cat{
    width: 600px;

    margin: 30px 0 0 30px;
}
#wrapper div.cat2{
    width: 600px;

    margin: 30px 0 0 30px;
}
#wrapper div.cat3{
    width: 600px;
    border-bottom: 2px solid #4dac26;
    margin: 0 0 0 30px;
}
#wrapper div.box{
    float: left;
    background-color:#CCCCFF;
    width:200px;
    height:200px;
    margin: 0px 50px;
}
#wrapper #info {
    float: left;;;
    width: 800px;
    height: 300px;
    margin: 20px 0 30px 30px;
}
#wrapper #info h2 {
    width: 790px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    color: #000080;
    background-color: #00FF00;
}
#wrapper #info div {
    width: 798px;
    height: 249px;
    border: 1px solid #408ca3;
    background-color: #FFDAB9;
}
#wrapper #info div p {
    font-size: 23px;
    padding: 0 0 0 20px;
    text-decoration: underline;
}

#wrapper #category {
    float: right;;
    width: 150px;
    margin: 20px 100px 78px 0;
    border: 1px solid #408ca3;
    background-color: #FFDAB9;
}
#wrapper #category li {
    width: 150px;
    height: 50px;
    line-height: 50px;
    color: #394548;
}

#wrapper #page-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #030304;
}
#wrapper #page-top p {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    color: #92e5fe;
    text-align: center;
}
